/* body */
*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  min-height: 1500px;
}
/* body end */

/* dropdown */

ul .dropdown{
  color: #DCDCDC;
  position: relative;
  line-height: 50px;
}
ul .dropdown:hover{
  color: white;
  cursor: pointer;
  transition: color 0.5s;
}
ul .dropdown ul{
  display: none;
}
ul .dropdown:hover ul{
  display: block;
  position: absolute;
  top: 99.1%;
  left: 0px;
  width: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}
ul .dropdown ul li{
  line-height: 20px;
  text-align: center;
  padding: 10px;
  background: #212523;
  margin-top: -10px;
}
ul .dropdown ul li a{
  color: #eaeaea;
  text-decoration: none;
}
ul .dropdown ul li a span{
  display: block;
  padding: 0px;
  border-bottom: 2px solid #eaeaea;
  margin-left: -10px;
  width: 150px;
}
ul .dropdown ul li a:hover{
  color: white;
  transition: color 0.5s;
}

/* dropdown end */

/* navigation bar */

nav{
  display: flex;
  background: #212523;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  font-family: 'Playfair Display SC', serif;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav ul{
  display: flex;
  list-style: none;
  width: 43%;
  justify-content: space-between;
}

nav a.page-scroll{
  color: #DCDCDC;
  text-decoration: none;
  line-height: 50px;
}

nav a.page-scroll:hover{
  color: white;
  transition: color 0.5s;
}

nav h4 a{
  text-decoration: none;
  color: #DCDCDC;
  font-size: 24px;
  letter-spacing: 4px;
}

nav h4 a:hover{
  color: white;
  transition: color 0.5s;
}

.menu-toggle{
  position: relative;
}

.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -1px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span{
  display: block;
  width: 28px;
  border-bottom: 3px solid white;
  margin: 6px;
  transition: 1.5s;
}

.menu-toggle ~ span:nth-child(2){
  transform-origin: 0 0;
}

.menu-toggle ~ span:nth-child(4){
  transform-origin: 0 100%;
}

.menu-toggle input:checked{
  left: 0px;
  top: 1px;
}

.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(225deg) rotate(180deg);
  margin-top: 5px;
  border-bottom: 3px solid red;
}

.menu-toggle input:checked ~ span:nth-child(4){
  transform: rotate(-225deg) rotate(180deg);
  margin-top: -18px;
  border-bottom: 3px solid red;
}

.menu-toggle input:checked ~ span:nth-child(3){
  transform: scale(0) rotate(720deg);
  border-bottom: 3px solid green;
}

.menu-toggle{
  display: none;
}
/* navigation bar end */


/* jumbotron */
  .jumbotron{
  background: #eee;
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  }
  .jumbotron img{
    display: block;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 5px solid gray;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
  }
  .jumbotron img:hover{
    border: 5px solid #eaeaea;
  }
  .jumbotron h1{
    margin-top: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 48px;
    font-family: 'Playfair', sans-serif;
    font-weight: 200;
    color: #333;
    text-shadow: 1px 1px 2px gray;
  }
  .jumbotron p{
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    color: #222;
    letter-spacing: 0.3px;
  }
  /* jumbotron end */

/* about */
  .about{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: #222;
  }
  .about hr{
    width: 250px;
    border-bottom: 2px solid gray;
    margin: 15px auto;
  }
  .about .p-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1260px;
    justify-content: center;
    margin: auto;
  }
  .about p{
    width:  530px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 25px;
    color: #222;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
/* about end */


/* portfolio */
.portfolio{
  padding-top: 30px;
  padding-bottom: 30px;
  background: #DCDCDC;
}
.portfolio h1{
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  color: #222;
}
.portfolio hr{
  width: 250px;
  border-bottom: 2px solid gray;
  margin: 15px auto;
}
.portfolio .box{
  display: block;
  padding: 2px;
  color: #333;
  text-decoration: none;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  background: white;
  margin: 30px;
  border: 1px solid transparent;
  transition: 0.5s;
  font-size: 18px;
}
.portfolio .box:hover{
  border: 1px solid blue;
}
.portfolio .box img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio .box p{
  max-width: 100%;
  padding: 10px;
}
/* portfolio end */

/* contact  */
.contact{
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact h1{
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  color: #222;
}
.contact hr{
  width: 250px;
  border-bottom: 2px solid gray;
  margin: 15px auto;
}
.contact .form-group{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.contact label{
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}
.contact input{
  width: 100%;
  height: 25px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Times New Roman', sans-serif, monospace;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.contact input:focus{
  border: 1px solid #333;
  box-shadow: 0px 0px 10px lightskyblue;
}
/* about end */


/* Responsive */

@media (min-width: 780px){
  /* portfolio */
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolio .box{
    display: block;
    padding: 1px;
    color: #333;
    text-decoration: none;
    text-align: center;
    max-width: 302px;
    position: relative;
    background: white;
    margin: 30px;
    border: 1px solid transparent;
    transition: 0.5s;
    font-size: 18px;
  }
  .portfolio .box:hover{
    border: 1px solid blue;
  }
  .portfolio .box img{
    max-width: 300px;
  }
  .portfolio .box p{
    max-width: 310px;
    padding: 10px;
  }
  /* portfolio end */
}


@media screen and (max-width: 1050px){
  nav ul{
    width: 53%;
  }
}

@media screen and (max-width: 1000px){
  nav ul{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #212523;
    z-index: -1;
    transform: translateX(100%);
    transition: 1s;
  }
  nav ul.slide{
    transform: translateX(0);
  }
  .menu-toggle{
    display: block;
  }
  .about p{
    margin-bottom: 40px;
  }
  ul .dropdown{
    display: none;
  }
}
@media screen and (max-width: 500px){
  nav ul{
    width: 36%;
  }
}
/* responsive end */
